body {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-bottom: 40px;
}

label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
    }
.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;

}

.card{
    margin-left: 1px;
    margin-right: 1px;
}


.btn-default:hover {
    color: #FFF;
    background: rgba(108, 88, 179, 0.75);
    border: 2px solid rgba(108, 89, 179, 0.75);
    }

    .btn-primary {
 
    font-size: 16px;
    color: rgba(58, 133, 191, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(58, 133, 191, 0.75);
    border-radius: 50px;
    padding: 14px;
    background: transparent;
    transition: all 0.3s ease 0s;
    }

    .btn-primary:hover {
    color: #FFF;
    background: rgba(58, 133, 191, 0.75);
    border: 2px solid rgba(58, 133, 191, 0.75);
    }

    .centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }


    .donate-now {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0;
    }

    .donate-now li {
    float: left;
    margin: 0 2px 0 0;
    height: 40px;
    position: relative;
    }

    .extra{
        display: inline-block;
        padding-top: 30px;
    }

    .donate-now label,
    .donate-now input {
    display: block;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }

    .donate-now input[type="radio"] {
        opacity: 0.01;
        z-index: 100;
    }

    .donate-now input[type="radio"]:checked+label,
    .Checked+label {
        background: rgba(58, 133, 191, 0.75);
        border: 2px solid rgba(58, 133, 191, 0.75);
    }

    .donate-now label {

        font-size: 15px;
        color: rgba(58, 133, 191, 0.75);
        letter-spacing: 1px;
        line-height: 15px;
        border: 2px solid rgba(58, 133, 191, 0.75);
        border-radius: 50px;
        padding: 15px;
        background: transparent;
        transition: all 0.3s ease 0s;
    }

    .donate-now label:hover {
         background: #DDD;
    }

    .form-horizontal{
        display:block;
        width:50%;
        margin:0 auto;
        width:
    }
    .btn-scale {
    min-width: 44px;
    width: 6%;
    text-align: center;
    font-weight: bold;
    color: black;
    font-family: 'Lato', sans-serif;
    }

    .btn-scale-asc-1, .btn-scale-desc-10 {
      background-color: #49c929e0;
    }

    .btn-scale-asc-1:hover,
    .btn-scale-desc-10:hover {
      background-color: #2CDE00;
    }



    .btn-scale-asc-2,
    .btn-scale-desc-9{
      background-color: #66FF00;
    }

    .btn-scale-asc-2:hover,
    .btn-scale-desc-9:hover{
      background-color: #59DE00;
    }

    .btn-scale-asc-3,
    .btn-scale-desc-8 {
      background-color: #99FF00;
    }

    .btn-scale-asc-3:hover,
    .btn-scale-desc-8:hover {
      background-color: #85DE00;
    }

    .btn-scale-asc-4,
    .btn-scale-desc-7 {
      background-color: #CCFF00;
    }

    .btn-scale-asc-4:hover,
    .btn-scale-desc-7:hover {
      background-color: #B1DE00;
    }

    .btn-scale-asc-5,
    .btn-scale-desc-6 {
      background-color: #FFFF00;
    }

    .btn-scale-asc-5:hover,
    .btn-scale-desc-6:hover {
      background-color: #DEDE00;
    }

    .btn-scale-asc-6,
    .btn-scale-desc-5 {
      background-color: #FFCC00;
    }

    .btn-scale-asc-6:hover,
    .btn-scale-desc-5:hover {
      background-color: #DEB100;
    }

    .btn-scale-asc-7,
    .btn-scale-desc-4 {
      background-color: #FF9900;
    }

    .btn-scale-asc-7:hover,
    .btn-scale-desc-4:hover {
      background-color: #DE8500;
    }

    .btn-scale-asc-8,
    .btn-scale-desc-3 {
      background-color: #FF6600;
    }

    .btn-scale-asc-8:hover,
    .btn-scale-desc-3:hover {
      background-color: #DE5900;
    }

    .btn-scale-asc-9,
    .btn-scale-desc-2 {
      background-color: #FF3300;
    }

    .btn-scale-asc-9:hover,
    .btn-scale-desc-2:hover {
      background-color: #DE2C00;
    }

    .btn-scale-asc-10,
    .btn-scale-desc-1 {
      background-color: #FF0000;
    }

    .btn-scale-asc-10:hover,
    .btn-scale-desc-1:hover {
      background-color: #DE0000;
    }
    .overbutton{
      color: rgba(255, 255, 255, 1);
      box-shadow: 0 5px 15px rgb(40, 62, 227);
    }
    .page-header {
      padding-bottom: 9px;
      margin: 40px 0 20px;
      border-bottom: 1px solid #eee;
      font-size: 12px;
    }
    .error{
      border: red
    }
    #precarga {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      z-index: 9999;
    }
